*{
	padding: 0;
	margin: 0;
}

html,body{
	background: #000;
	color: #444;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	height: 100%;
}

body h1{
	background: #f9f9f9;
	padding: 20px;
	height: 40px !important;
}

.container{
	height: calc(100% - 80px);
	text-align: left;
	border: none;
	box-shadow: none;
}

.container .res{
	color: rgba(0,0,0,0.35);
	display: inline-flex;
	height: 100%;
	width: 20%;
	justify-content: center;
	align-items: flex-end;
	font-size: 2em;
	/*cursor: pointer;*/
}

.container .res span{
	padding-bottom: 20%;
}

/*TOAST*/

#toast {
  	visibility: hidden;
  	min-width: 250px; 
  	margin-left: -125px;
  	background-color: #333; 
  	color: #fff;
  	text-align: center;
  	border-radius: 50px;
  	padding: 16px;
  	position: fixed;
  	z-index: 1;
  	left: 50%;
  	bottom: 30px;
}

#toast.show {
  	visibility: visible;
  	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  	from {bottom: 0; opacity: 0;}
  	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  	from {bottom: 0; opacity: 0;}
  	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  	from {bottom: 30px; opacity: 1;}
  	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
  	to {bottom: 0; opacity: 0;}
}
